<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')  %> 

  <body>
    <%- include('../partials/header.ejs')  %> 
    <main class="main">
       
        <!--MENU-->

        <%- include('../partials/burguermenu-search.ejs')  %>

        <!--Banner-->

       <div class="banner">
       <img src="/images/imgCarrito/banner.png" width="100%" alt="banner">
       </div>

        <!--Titulo-->
        <section class="conteiner-titulo">
            <div class="conteiner-titulo--principal">
                <p class="conteiner-titulo--div--texto">Carrito de compras</p>
            </div>
            
        </section>
       
        <div class="subtitulo--principal">
          <h4>Detalle de la compra</h4>
        </div>

               <!--TABLA DE PRODUCTOS tablet-->
        <section class="">
       <div class="contenedor--tabla--productos">
        <table class="tabla--productos">
          <thead>
            <tr>
             <th>Foto</th> <th>Producto</th><th>Precio</th><th>Eliminar</th><th>Subtotal</th>
            </tr>
          </thead>
          <tr>
            <td><img src="/images/imgCarrito/cpu.jpg" alt="" width="50%"></td>
            <td>Gabinete Gamer Thermaltake</td>
            <td>$78.532</td>
            <td><i class="fa-solid fa-trash-can"></i></td>
            <td>$78.532</td>
          </tr>
          <tr>
            <td><img src="/images/imgCarrito/monitor.jpg" alt="" width="50%"></td>
            <td>Monitor Gaming 27” Gygabyte G27FC</td>
            <td>$119.378</td>
            <td><i class="fa-solid fa-trash-can"></i></td>
            <td>$119.378</td>
          </tr>
        </table>
      </div>
      </section>
    

      <!--TABLA PRODUCTOS CEL-->
                  
        <section class="descripcion--de--compra">
        <article class="conteiner--producto" >
             <img class="imagen-producto" src="/images/imgCarrito/cpu.jpg" alt="foto cpu">
           
            <div>
                <h5>Gabinete Gamer Thermaltake </h5>
                   
                <a href="">Eliminar Producto</a>
            </div>
             <div class="precio">
            <span> <b>$78.532</b></span>
            </div>


         </article>

                

         <article class="conteiner--producto" >
             <img class="imagen-producto" src="/images/imgCarrito/monitor.jpg" alt="foto cpu">
           
            <div>
                <h5>Monitor Gaming 27” Gygabyte G27FC </h5>
               
                  
                <a href="">Eliminar Producto</a>
            </div>
             <div class="precio">
            <span> <b>$119.378</b></span>
            </div>


         </article>
         </section>
         

                <!--Detalle de envío-->

     
            <div class="conteiner-titulo--div">
                <p class="conteiner-titulo--div--texto">Detalles del envío</p>
            </div>
            <div class="conteiner-titulo--div--datos">
            <div>
              
              <p class="direccion"><img class="logo--ubicacion" src="/images/imgCarrito/icono-ubicacion.jpg" alt="">Envío: Calle Falsa 123, C.P 5353, Springfield</p>
            </div>
             <h3 class="bonificacion">Total envío con bonificación:</h3>
            <div class="precio--envio">
             
              <p class="precio--p1">$1.789</p>
              <p class="precio--p2">$1.532</p>
              <p class="precio--p3">$199.442</p>
            </div>
            </div>
            
            <div class="contenedor--boton--agregar">
              <button class="boton--agregar">Modificar Dirección</button>
            </div>


            
            <!--COMO QUERES PAGAR-->
            <div class="conteiner-titulo--div">
            <p class="conteiner-titulo--div--texto">¿Cómo querés pagar?</p>
            </div>
            <div class="conteiner-titulo--div--subtitulo">
             <p class="conteiner-titulo--div--texto2">Con Mercado Pago </p>
             <img class="logo--mp" src="/images/imgCarrito/unnamed.png" alt="">
            </div>

            <div class="conteiner-cuadro1--pago">
              <input  type="checkbox" name="medio-pago" id="medio-pago">
              <img class="logo--mp" src="/images/imgCarrito/unnamed-gris.png" alt="">
              <p>Usá $199.442 <br>  Dinero disponible</p> 
              <div></div>
            <!--  <button class="boton--pago">Confirmar</button>-->
            
            </div>

            <div class="conteiner-titulo--div--subtitulo">
             <p class="conteiner-titulo--div--texto2">Otras opciones de pago </p>
            </div>

        
          
            <form class="formulario--metodo--pago" action="/index.html">
              <label for="debito">
                <i class="fa-regular fa-credit-card"></i>
                <input type="radio" name="medio-pago" id="debito">Visa débito ****5762</label>

              <label for="agregar-credito">
                <i class="fa-regular fa-credit-card"></i>
                <input  type="radio" name="medio-pago" id="agregar-credito">Nueva tarjeta de crédito</label>
              <label for="agregardebito">
                <i class="fa-regular fa-credit-card"></i>
                <input  type="radio" name="medio-pago" id="agregardebito">Nueva tarjeta de débito  </label>
            </form>
            
            <div class="contenedor--boton--agregar">
              <button class="boton--agregar">Finalizar Compra</button>
            </div>
           
           
            
                
           
       

       
            
        

        
            




        
    <!--FOOTER-->

    <%- include('../partials/footer.ejs')  %>
  </body>
</html>
