<section class="main__section">
    <div class="main__section--burguer-menu">
        <i class="fas fa-bars"></i>
    </div>
    <div class="main__section--search-box">
       <form action="/search" method="GET">
        <input type="text" name="keywords" placeholder="¿Qué estas buscando?">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i>
        </button></form> 
    </div>
</section>