<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/75929d6988.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Amadeus PC | Home</title>
</head>
<body>
    <header class="header">
       
        <section class="header__section">
            <span class="header__section--logo">
                <img src="/images/Amadeus PC.jpg" alt="Logo Amadeus">
            </span>
            <nav class="header__section__nav--redes">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            </nav>
            <nav class="header__section__nav--registro">
                <ul>
                    <li><a class="header__section__armado-pc header__section__nav--registro--texto" href="">arma tu pc</a></li>
                    <li><a class="header__section__nav--registro--icono" href="./register.html"><i class="fa-solid fa-user-plus"></i></a><a class="header__section__nav--registro--texto" href="./register.html">Registrate</a></li>
                    <li><a class="header__section__nav--registro--icono" href="./login.html"><i class="fa-solid fa-right-to-bracket"></i></a><a class="header__section__nav--registro--texto" href="./login.html">Ingresa</a></li>
                    <li><a class= "header__section__nav--registro--icono" href="./productCart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        Filtrar Productos
    </main>
    <footer class="footer">
        <section class="footer__section">
            <h2 class="footer__section--titulo">Seguinos en Nuestras Redes</h2>
            
            <nav class="footer__section__nav--redes">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                <a href=""><i class="fa-brands fa-discord"></i></a>
                <a href=""><i class="fa-brands fa-twitch"></i></a>
            </nav>
        </section>
        <section class="footer__section">
            <img class="footer__section--qr" src="/images/QR AMD.png" alt="QR">
            <article class="footer__section--article">
                <h3>Información</h3>
                <nav class="footer__section--nav">
                    <a href="">¿Quienes Somos?</a>
                    <a href="">Preguntas Frecuentes</a>
                    <a href="">¿Cómo comprar?</a>
                </nav>
            </article>
            <article class="footer__section--article">
                <h3>Contactanos</h3>
                <p>Avenida Siempre Viva 123</p>
                <p>Buenos Aires</p>
                <p>Email: amadeus-pc@gmail.com</p>
            </article>
            <article class="footer__section--article">
                <h3>Horarios</h3>
                <p>Lunes a Viernes de 9 a 18hs</p>
                <p>Sábados de 9 a 13hs</p>
            </article>
            <article class="footer__section--article">
                <h3>Venta Telefónica</h3>
                <p>0800-222-AMDPC</p>
                <p>26372</p>   
                </article>
        </section>
    </footer>
    </body>
    </html>