<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/75929d6988.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Amadeus PC | Home</title>
</head>
<body>
    <header>
       <img src="/images/Amadeus PC.jpg" alt="Logo Amadeus">
        <section>
            <nav>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            </nav>
                <a>Armá Tu PC</a>
            <nav> <ul>
                <li><a href="./register.html"><i class="fa-solid fa-user"></i>Registrate</a></li>
                <li><a href="./login.html"><i class="fa-solid fa-right-to-bracket"></i>Ingresá</a></li>
            </ul></nav>
            <i class="fa-solid fa-cart-shopping"></i>
        </section>
    </header>
    <main></main>
<footer>
    <a>
        <h2>Seguinos en Nuestras Redes</h2>
        <a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            <a href=""><i class="fa-brands fa-discord"></i></a>
            <a href=""><i class="fa-brands fa-twitch"></i></a>
        </nav>
    </section>
    <section>
        <img src="/images/QR AMD.png" alt="QR">
        <article><h3>Información</h3>
        <nav><a href="">¿Quienes Somos?</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">¿Cómo comprar?</a>
    </nav></article>
    <article><h3>Contactanos</h3>
        <p>Avenida Siempre Viva 123 - Buenos Aires</p>
        <p>Email: amadeus-pc@gmail.com</p>
    </article>
    <article><h3>Horarios</h3>
        <p>Lunes a Viernes de 9 a 18hs</p>
    <p>Sábados de 9 a 13hs</p></article>
    <article><h3>Venta Telefónica</h3>
        <p>0800-222-AMDPC</p>
    <p>26372</p></article>
    </section>
</footer>
</body>
</html>