<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amadeus PC | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/75929d6988.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <header class="header">
        <section class="header__section">
            <span class="header__section--logo">
                <a href="/"><img src="/images/Amadeus PC.jpg" alt="Logo Amadeus"></a>
            </span>
            <nav class="header__section__nav--redes">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            </nav>
            <nav class="header__section__nav--registro">
                <ul>
                    <li><a class="header__section__armado-pc header__section__nav--registro--texto" href="">arma tu
                            pc</a></li>
                    <li><a class="header__section__nav--registro--icono" href="./register.html"><i
                                class="fa-solid fa-user-plus"></i></a><a class="header__section__nav--registro--texto"
                            href="./register.html">Registrate</a></li>
                    <li><a class="header__section__nav--registro--icono" href="./login.html"><i
                                class="fa-solid fa-right-to-bracket"></i></a><a
                            class="header__section__nav--registro--texto" href="./login.html">Ingresa</a></li>
                    <li><a class="header__section__nav--registro--icono" href="./carrito.html"><i
                                class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main class="main">
        <section class="main__section">
            <div class="main__section--burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="main__section--search-box">
                <input type="text" value="¿Qué estas buscando?">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </section>
        <section class="home__main__section--banner">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/home/carrete1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/home/carrete2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/home/carrete3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <section class="main__section__productos">
            <h1>Productos de Última Generación</h1>
            <article class="main__section__productos--article">
                <div><img src="/images/producto3.jpg" alt="">
                    <h2>$293342</h2><a href="./productDetail.html">Ver más...</a>
                    <h3>PC Intel i3 12100 8Gb SSD</h3>
                    <h3>240Gb + Monitor 22''</h3>
                </div>
                <article class="main__section__productos--article">
                    <div><img src="/images/producto2.jpg" alt="">
                        <h2>$7987</h2><a href="./productDetail.html">Ver más...</a>
                        <h3>PC Intel Gamer Thermaltake i3</h3>
                    <h3>10100 8Gb 1TB 650W RX 570 4Gb</h3>
                    </div>
                </article>
                <article class="main__section__productos--article">
                    <div><img src="/images/producto3.jpg" alt="">
                        <h2>$8078</h2><a href="./productDetail.html">Ver más...</a>
                        <h3>Placa de Video PALIT NVIDIA GEFORCE</h3>
                        <h3>GT 730 2GB DDR3</h3>
                    </div>
                </article>
        </section>
        <section class="main__section__productos-ofertas">
            <h1>Ofertas Imperdibles</h1>
            <span class="main__section__productos--article-ofertas">
                <img src="/images/producto3.jpg" alt="">
                <span class="main__section__productos--article-ofertas-desc">
                    <h2>$293342</h2>
                    <a href="./productDetail.html">Ver más...</a>
                    <h3>PC Intel i3 12100 8Gb SSD</h3>
                    <h3>240Gb + Monitor 22''</h3>
                </span>
            </span>
            <span class="main__section__productos--article-ofertas">
                <img src="/images/producto2.jpg" alt="">
                <div class="main__section__productos--article-ofertas-desc">
                    <h2>$7987</h2>
                    <a href="./productDetail.html">Ver más...</a>
                    <h3>PC Intel Gamer Thermaltake i3</h3>
                    <h3>10100 8Gb 1TB 650W RX 570 4Gb</h3>
                </div>
            </span>
            <span class="main__section__productos--article-ofertas">
                <img src="/images/producto3.jpg" alt="">
                <div class="main__section__productos--article-ofertas-desc">
                    <h2>$8078</h2>
                    <a href="./productDetail.html">Ver más...</a>
                    <h3>Placa de Video PALIT NVIDIA GEFORCE</h3>
                    <h3>GT 730 2GB DDR3</h3>
                </div>
            </span>
        </section>
        <section class="main__section__calificacion">
            <img class="main__section__calificacion-estrellas" src="/images/califGoogle.png" alt="">
            <a href="">Ver Reseñas...</a>
            <img class="main__section__calificacion-reseñas" src="/images/home/Reseñas.png" alt="">
        </section>
        <section class="main__section__compra">
            <i class="fa-regular fa-credit-card"></i>
            <h4>Pagá hasta en 12 cuotas</h4>
            <i class="fa-sharp fa-solid fa-truck"></i>
            <h4>Recibí tu producto</h4>
            <i class="fa-solid fa-shield-halved"></i>
            <h4>Compra 100% Segura</h4>
        </section>
        <section class="main__section__marcas">
            <h2>Las Mejores Marcas están en AMADEUS</h2>
            <section class="home__main__section--carrouselMarcas">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="width: 90rem;">
                            <div class="row">
                                <div class="col"><img src="/images/home/adata.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="col"><img src="/images/home/amd.jpg" class="d-block w-100" alt="..."></div>
                                <div class="col"><img src="/images/home/CORSAIR.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="col"><img src="/images/home/cougar.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="col"><img src="/images/home/intel.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="col"><img src="/images/home/logitech.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="col"><img src="/images/home/razer.jpg" class="d-block w-100" alt="...">
                                </div>

                            </div>
                        </div>

    </main>
    <footer class="footer">
        <section class="footer__section">
            <h2 class="footer__section--titulo"><span>Seguinos</span> en Nuestras Redes</h2>

            <nav class="footer__section__nav--redes">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                <a href=""><i class="fa-brands fa-discord"></i></a>
                <a href=""><i class="fa-brands fa-twitch"></i></a>
            </nav>
        </section>
        <section class="footer__section">
            <img class="footer__section--qr" src="/images/QR AMD.png" alt="QR">
            <article class="footer__section--article">
                <h3>Información</h3>
                <nav class="footer__section--nav">
                    <a href="">¿Quienes Somos?</a>
                    <a href="">Preguntas Frecuentes</a>
                    <a href="">¿Cómo comprar?</a>
                </nav>
            </article>
            <article class="footer__section--article">
                <h3>Contactanos</h3>
                <p>Avenida Siempre Viva 123</p>
                <p>Buenos Aires</p>
                <p>Email: amadeus-pc@gmail.com</p>
            </article>
            <article class="footer__section--article">
                <h3>Horarios</h3>
                <p>Lunes a Viernes de 9 a 18hs</p>
                <p>Sábados de 9 a 13hs</p>
            </article>
            <article class="footer__section--article">
                <h3>Venta Telefónica</h3>
                <p>0800-222-AMDPC</p>
                <p>26372</p>
            </article>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>

</html>