.preguntas-frecuentes-section{
    padding-top: 45px;
     font-family: var(--tipografiaPrincipal);
     display: flex;
     flex-direction: column;
     align-items: center;
     font-size: 10px;
}
.section-title{
font-size: 14px;
}
.step-title{
    font-size: 14px;
} 
.faq-question{
    font-size: 12px;
}
.faq-answer{
    font-size: 10px;
}