.container{
  
    font-family: var(--tipografiaPrincipal);  
}
.btn-clear{
    transition: background-color 200ms, color 200ms;
}
.btn-clear:hover{
    background-color: rgb(240,184,184);
    color: white;
}
.card-box-container{
display: flex;
    }
.card-cart{
width: 30%;
gap: 5px;
animation: fondoAnimado 10s infinite;
background-image: linear-gradient(90deg, rgba(153, 59, 241, 1) 0%, rgba(90, 194, 187, 1) 45%, rgba(205, 24, 104, 1) 100%);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border: none;
border-radius: 15px;
}
.info-card-cart{
display: flex;
flex-direction: column;
align-items: center;
}
.boton-remove-cart{
    padding: 0;
    border: 0;
    background-color: transparent;
    position: relative;
    color: red;
    font-size: 1.25rem;
    top: -230px;
    right: -90px;
    margin: 10px;
}

/* COMO QUERES PAGAR */

.conteiner-titulo--div--texto2{
    font-size: 17px;
    padding-left: 15px;
    
}
.conteiner-titulo--div--subtitulo{
    display:flex;
    justify-content:center;
}

.logo--mp {
    width: 13%;
    
}

.conteiner-cuadro1--pago{
    background-color:  rgb(192, 192, 192) ;
    display: flex;
    padding: 10px;
    margin: 20px;
}

.boton--pago{
 align-items: center;
 background-color: #3846BE;
 color: white;
 padding: 5px;
 margin: 15px;
 font-size: 16px;

}

.formulario--metodo--pago{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 0px;
    margin: 5px;
    background-color: rgb(192, 192, 192);
    color: black;
    font-size: 19px;
    border-radius: 3%;
    
}
                                
                                /* TABLET  */ 



@media (min-width: 426px) {

    
.direccion {
            font-size: 26px;
            text-align: center;
        }

    .conteiner-titulo--div--texto {
        text-align: center;
        font-size: 15px;
    }

 


.bonificacion {
    text-align: center;
    font-size: 15px;
}

.conteiner-titulo--div--texto2 {
    font-size: 15px;
    padding-left: 15px;
}

.logo--mp {
    width: 10%;
}
.boton--agregar {
    background-color: #3846BE;
    color: white;
    margin-bottom: 15px;
    padding: 6px;
    width: 40%;
}

.conteiner-cuadro1--pago {
    background-color: rgb(192, 192, 192);
        display: flex;
        padding: 10px;
        margin: 20px;
        justify-content: center;
        align-items: center;
        margin-left: 175px;
        margin-right: 175px
  
}



.boton--agregar {
    background-color: #3846BE;
    color: white;
    margin-bottom: 15px;
    padding: 6px;
    width: 40%;
    font-size: 15px;
}

.logo--ubicacion {
    width: 3%;
}
.conteiner-otrosPagos{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}
}







