
.main__carrito{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: var(--tipografiaPrincipal);  
}
.main__carrito-subtitulo{
    width: 100%;
}
.btn-clear{
    transition: background-color 200ms, color 200ms;
}
.btn-clear:hover{
    background-color: rgb(240,184,184);
    color: white;
}
.precio--num{
color: #000;
position: absolute;
top: 30%;
right: 1px;
}
.logo--ubicacion{
    width: 6%;
}

.direccion{
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.precio--envio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.bonificacion{
    text-align: center;
    font-size: 15px;
}

.precio--p1{
    font-size: 18px;
    padding-right: 28px;
    text-decoration:line-through;
    color: silver;

}
.precio--p2{
    font-size: 18px;
    padding-left: 5px;
    padding-right: 15px;
}
.precio--p3{

    font-size: 15px;
}
.conteiner-titulo--div--subtitulo{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boton--agregar{
    background-color: #3846BE;
    color: white;
    margin-bottom: 15px;
    padding: 6px
}


/* COMO QUERES PAGAR */

.conteiner-titulo--div--texto2{
    font-size: 17px;
    padding-left: 15px;
    
}
.conteiner-titulo--div--subtitulo{
    display:flex;
    justify-content:center;
}

.logo--mp {
    width: 13%;
    
}

.conteiner-cuadro1--pago{
    background-color:  rgb(192, 192, 192) ;
    display: flex;
    padding: 10px;
    margin: 20px;
}

.boton--pago{
 align-items: center;
 background-color: #3846BE;
 color: white;
 padding: 5px;
 margin: 15px;
 font-size: 16px;

}

.formulario--metodo--pago{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 0px;
    margin: 5px;
    background-color: rgb(192, 192, 192);
    color: black;
    font-size: 19px;
    border-radius: 3%;
    
}
                                
                                /* TABLET  */ 



@media (min-width: 426px) {

    
.direccion {
            font-size: 26px;
            text-align: center;
        }

    .conteiner-titulo--div--texto {
        text-align: center;
        font-size: 15px;
    }

    
    .carrito__main th {
            font-size: 24px;
            padding: 29px;
            background-color: silver;
        }


.bonificacion {
    text-align: center;
    font-size: 15px;
}

.conteiner-titulo--div--texto2 {
    font-size: 15px;
    padding-left: 15px;
}

.logo--mp {
    width: 10%;
}
.boton--agregar {
    background-color: #3846BE;
    color: white;
    margin-bottom: 15px;
    padding: 6px;
    width: 40%;
}

.conteiner-cuadro1--pago {
    background-color: rgb(192, 192, 192);
        display: flex;
        padding: 10px;
        margin: 20px;
        justify-content: center;
        align-items: center;
        margin-left: 175px;
        margin-right: 175px
  
}



.boton--agregar {
    background-color: #3846BE;
    color: white;
    margin-bottom: 15px;
    padding: 6px;
    width: 40%;
    font-size: 15px;
}

.logo--ubicacion {
    width: 3%;
}
.conteiner-otrosPagos{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}
}







