.formAdd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.formAdd div input {
    width: 100%;
    margin: 10px auto;
    border-style: none;
    border-bottom: 1px solid #000;
    font-family: var(--tipografiaForms);
    font-size: 0.8rem;
}

.formAdd__name {
    width: 100%;
}

.formAdd__description {
    width: 100%;
    font-size: 0.8rem;
    color: grey;
}

.formAdd__description textarea {
    width: 100%;
}

.formAdd__category {
    width: 45%;
}

.formAdd div select {
    width: 100%;
    margin: 10px auto;
    border-style: none;
    border-bottom: 1px solid #000;
    font-family: var(--tipografiaForms);
    font-size: 0.8rem;
    color: grey;
}

.formAdd__price {
    width: 25%;
}

.formAdd__image {
    width: 70%;
}

.formAdd__button {
    margin: 10px auto;
    width: 70%;
}

.formAdd__button--agregar {
    padding: 10px 5px;
    font-size: 20px;
    background: lightskyblue;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.formAdd__button--agregar a {
    color: #FFF;
    align-self: center;
}

.formAdd__button--cancelar {
    padding: 10px 5px;
    font-size: 20px;
    background: rgb(255, 76, 76);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.formAdd__button--cancelar a {
    color: #000;
    align-self: center;
}

@media (min-width: 426px) {
    .formAdd {
        width: 70%;
    }
}