.main{
font-family: var(--tipografiaPrincipal);
}
.main__section{
    background: linear-gradient(var(--colorCeleste),#fff);
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
}
.main__section--burguer-menu{
    width: 10%;
    background-color: var(--colorAzul);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}
.main__section--burguer-menu i{
    color:#fff;
    font-size: xx-large;
}
.main__section--search-box input{
    display: none;
}
.main__section--search-box button{
    border-radius: 45%;
}
.main__section__productos{
    background: linear-gradient(var(--colorCeleste),#fff);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main__section__calificacion{
    display: flex;
    background: linear-gradient(var(--colorCeleste),#fff);
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main__section__compra{
    background: linear-gradient(var(--colorCeleste),#fff);
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}
.main__section__compra i{text-align: center;width: 30%;font-size: xxx-large;}
.main__section__marcas{
    background: linear-gradient(var(--colorCeleste),#fff);
    text-align: center;
}

@media (min-width:767px) {
    .main__section--burguer-menu{
    /* padding: 0px; */
    }
    .main__section{
        display: flex;
    }
    .main__section--search-box{
        display: flex;
        font-size: xx-large;
    }
    .main__section--search-box input{
        display: flex;
        border-radius: 20px;
    }
    .main__section__productos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}