.form__main__recordar--container__switch {
    align-items: center;
    border-radius: 100px;
    display: flex;
    font-weight: 500;
    margin-bottom: 16px;
    color: #656880;
}

.form__main__recordar--container__switch-input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.form__main__recordar--container__switch-input:not([disabled]):active + .form__main__recordar--container__switch-track,
.form__main__recordar--container__switch-input:not([disabled]):focus + .form__main__recordar--container__switch-track {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px var(--colorCeleste);
}

.form__main__recordar--container__switch-track {
    background: rgb(231, 230, 255);
    border: 1px solid var(--colorAzul);
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 20px;
    margin-right: 12px;
    position: relative;
    width: 30px;
}

.form__main__recordar--container__switch-indicator {
    align-items: center;
    background: var(--colorAzul);
    border-radius: 24px;
    bottom: 2px;
    display: flex;
    height: 14px;
    left: 5px;
    content: center;
    left: 2px;
    outline: solid 2px transparent;
    position: absolute;
    transition: 0.25s;
    width: 14px;
}

.form__main__recordar--container__switch-input:checked + .form__main__recordar--container__switch-track .form__main__recordar--container__switch-indicator {
    background: var(--colorAzul);
	transform: translateX(10px);
}

.form__main__recordar--container__switch-checkMark {
    fill: #fff;
	height: 15px;
	width: 15px;
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
}

.form__main__recordar--container__switch-input:checked + .form__main__recordar--container__switch-track .form__main__recordar--container__switch-checkMark {
    opacity: 1;
	transition: opacity 0.25s ease-in-out;
}