.productDetail__main * {
    margin: 0;
}

.productDetail__main {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section--imagenPrincipal img {
    width: 50%;
}

.section--info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section--info h1 {
    font-family: var(--tipografiaPrincipal);
    font-size: 16px;
    text-align: center;
}

.section--info h4 {
    text-transform: uppercase;
    background-color: grey;
    padding: 3px;
    font-size: 10px;
    margin: 0 auto;
}

.section--vistasImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2.5%;
}

.section--vistasImages img {
    width: 20%;
    display: none;
}

.productDetail__main__section--detallesMobile {
    margin: 10px auto;
    font-size: 16px;
}

.productDetail__main__section--detallesMobile::first-letter {
    text-transform: uppercase;
}



.productDetail__main__section--detallesDesktop {
    display: none;
}

.productDetail__main__section__article {
    display: none;
}

.productDetail__main__section--detallesMobile:hover .productDetail__main__section__article {
    display: block;
}