/* MOBILE */
.productDetail-main {
    margin: 0;
    font-family: var(--tipografiaPrincipal);
    margin-top: 80px;
}

.productDetail__main {
    width: 95%;
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productDetail__main__section-imagenPrincipal img {
width: 200px;
    display: block;
    margin: 0 auto;
}

.section--info-name {
    font-size: 22px;
    text-align: center;

}

.section__div--info {
    display: flex;
    flex-wrap: wrap;
}

.productDetail--descuento {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-decoration: line-through;
    padding: 15px;
}

.productDetail--descuento h3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section__div--info {
    border: 2px solid grey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__div--info-precio h3 {
    font-family: var(--tipografiaPrincipal);
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(79, 21, 216);
}

.section__div--info-btn {
    width: 100%;
    text-align: center;
}

.productDetail__main__images {
    display: none;
}

.productDetail--review {
    display: flex;
    justify-content: center;

}

.productDetail--review iframe {
    width: 80%;

}

.productDetail__main__images img {
    width: 8rem;
}

.productDetail__main__section--detallesMobile {
    display: none;
    margin: 10px auto;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.productDetail__main__section--detallesDesktop {
    font-size: 19.2px;
    width: 100%;
    text-transform: uppercase;
}

/* BURGUER */

.menu-burguer {
    background: linear-gradient(90deg, rgba(153, 59, 241, 1) 0%, rgba(90, 194, 187, 1) 45%, rgba(205, 24, 104, 1) 100%);
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    display: flex;
    align-items: center;
}
nav ul {
     display: none; 
    position: absolute;
    top: 70px;
    left: 0;
     width: 100%; 
}
#menu-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    display: none;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

nav ul#menu.show {
    list-style: none;
    font-family: var(--tipografiaPrincipal);
    display: flex;
    flex-direction: column;
    color: black;
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

@media (min-width: 426px) {
    .productDetail__main__section-imagenPrincipal img  {
        width: 50%;
    }
}

@media (max-width: 768px) {
 
/*     #menu-icon {
        display: block;
    }

    nav ul {
        /* display: none; 
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #333;
         width: 100%; 
    }

    nav ul li {
        width: 10%;
        text-align: center;
        margin: 10px 0;
    }*/
}

 






/* .section--vistasImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2.5%;
}

.section--vistasImages img {
    width: 20%;
    display: none;
}

.section--caracteristicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
}



.productDetail__main__section--detallesMobile::first-letter {
    text-transform: uppercase;
}



.productDetail__main__section--detallesDesktop::first-letter {
    text-transform: uppercase;
}

.productDetail__main__section__description {
    display: none;
    margin: 10px 20px;
    text-align: left;
    width: 100%;
}

.section--caracteristicas:hover .productDetail__main__section__description {
    display: block;
}

.productDetail__main .productDetail__section--buttons {
    margin: 10px;
    width: 100%;
    text-align: center;
}

@media (min-width: 426px) {
    .productDetail__main {
        gap: 2%;
        padding-top: 20px;
    }

    .section--imagenPrincipal {
        width: 48%;
        max-width: 500px;
    }

    .section--imagenPrincipal img {
        width: 100%;
    }

    .section--info {}

    .section--info h1 {
        margin-top: 15px;
        font-size: 18px;
        padding-bottom: 10px;
        border-bottom: 2px solid #BBB;
    }

    .section__div--info {
        padding: 5px 0px;
        column-gap: 50px;
    }

    .section__div--info-sku {
        width: 20%;
    }

    .section__div--info-sku h4 {
        display: block;
    }

    .section__div--info-precio {
        margin-bottom: 0;
    }

    .section__div--info>p {
        width: 100%;
        text-align: center;
    }

    .section--info h4,
    .section__div--info div p,
    .section__div--info>p,
    .productDetail__main__section__description {
        font-size: 14.4px;
    }

    .section__div--info-btn {
        width: 100%;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 2px solid #BBB;
    }

    .section__div--info-btn button {
        padding: 5px;
    }

    .section--vistasImages img {
        display: block;
    }

    .section--caracteristicas {
        border-top: 2px solid var(--colorCeleste);
        padding-top: 10px;
    }



    .productDetail__main__section--detallesDesktop {
        display: block;
    }

    .productDetail__main__section__description {
        display: block;
        text-align: left;
        width: 100%;
    }



    @media (min-width: 769px) {
        .section--info h1 {
            margin-top: 15px;
            font-size: 20px;
        }

        .section__div--info {
            gap: 10px;
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            align-items: flex-start;
        }

        .section__div--info-sku {
            width: 100%;
            padding-bottom: 0;
            text-align: left;
            margin-top: 5px;
        }

        .section__div--info-sku h4 {
            display: inline;
        }

        .section__div--info>p {
            width: 45%;
            text-align: center;
        }

        .section__div--info-btn {
            margin: 15px auto;
            padding-bottom: 10px;
        }

        .section--info h4,
        .section__div--info div p,
        .section__div--info>p,
        .productDetail__main__section__description {
            font-size: 16px;
        }

        .section--vistasImages {
            justify-content: space-between;
            gap: 1%;
        }

        .section--vistasImages img {
            width: 24%;
        }

        .section--caracteristicas {
            border-top: 2px solid var(--colorCeleste);
            padding-top: 10px;
            width: 100%;
        }

        .section__div--info div h3,
        .section__div--info a,
        .productDetail__main__section--detallesDesktop,
        .productDetail__main__section__article h1 {
            /* font-size: 24px; 
        }
    }
    productDetail--review  width="560" height="315" */