.register__main {
    padding: 1% 2.5%;
    padding-top: 70px;
    font-family: var(--tipografiaForms);
    text-align: center;
}

.register--titulo {
    text-transform: uppercase;
    font-family: var(--tipografiaForms);
    font-size: 1.5rem;
    text-align: center;
    margin: 15px;
}

.register--subtitulo {
    color: var(--colorAzul);
    text-align: center;
    margin: 0 auto 30px;
}

.register--subtitulo::first-letter {
    text-transform: uppercase;
}

.register__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.register__form div {
    position: relative;
    margin: 10px auto;
}

.register__form--name,
.register__form--surname,
.register__form--pass,
.register__form--repeatPass {
    width: 45%;
}

.register__form--email {
    width: 95%;
}

.register__form--tituloTel {
    text-align: left;
    width: 100%;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 1rem;
}

.register__form--codarea {
    width: 30%;
}

.register__form--tel {
    width: 60%;
}

.register__form div input {
    width: 100%;
    margin: 10px auto;
    border-style: none;
    border-bottom: 1px solid #000;
    font-family: var(--tipografiaForms);
    font-size: 1rem
}

.register__form div input:focus {
    outline: none;
    border-bottom: 2px solid var(--colorAzul);
}

.register__form .register__form--spam {
    margin: 10px 0px;
    text-align: left;
}

.register__form--spam .checkbox {
    width: 20px;
    margin: 0;
}

.register__form__button--siguiente {
    margin: 10px auto;
    padding: 5px 2px;
    font-size: 14px;
    color: white;
    background: lightskyblue;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    text-transform: uppercase;
    width: 50%;
    letter-spacing: 1px;
}

.register__form__button--siguiente:hover {
    background: linear-gradient(#dee5ff, lightskyblue);
}

.register__form--ingresar {
    margin: 0 auto;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.register__form div .spam {
    color: #000;
    position: initial;
}

/* A darle forma a los labels para JS */
.register__form div label {
    color: #AAA;
    position: absolute;
    top: 14px;
    transition: 0.5s;
    z-index: 0;
}

.register__form div label:hover {
    cursor: text;
}

.register__form div .divFocus {
    top: 0px;
    font-size: 12px;
    color: var(--colorAzul);
}

.register__form div .errors {
    position: absolute;
    color: red;
    font-size: 12px;
    left: 0;
    top: 32px;
    margin-top: 0;
}

.register__form .register__form--spam .errors {
    position: absolute;
    color: red;
    font-size: 12px;
    left: 18px;
    top: 18px;
    margin-top: 0;
}

.register__form div .errorsAvatar {
    color: var(--colorAzul);
    font-weight: bold;
}

.register__form div #errorAvatar, .register__form div .errorsAvatar {
    width: 100%;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.register__form div ul li {
    margin-left: 0px;
}

.button-submit {
    margin: 10px auto;
    padding: 5px 2px;
    font-size: 14px;
    color: #CCC;
    background: #BBB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    width: 50%;
    letter-spacing: 1px;
}

#emailList {
    width: 100%;
    margin: 0;
}

.avatar__register {
    width: 70%;
    height: 120px;
    position: relative;
}

.avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2 !important;
    cursor: pointer !important;
}

.avatar__register label {
    display: flex;
    justify-content: center;
}

.avatar__register img {
    width: 80%;
    object-fit: cover;
    object-position: center;
}

.avatar__register:hover img {
    cursor: pointer;
}

.avatar__register>input {
    display: none;
}

.canvas-container {
    position: relative;
}

canvas {
    position: relative;
    z-index: 1;
}

#imagen-preview-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
  }

@media (max-width: 425px) {
    .register__form div label {
        font-size: 12px;
    }
}

@media (min-width : 321px) {
    .avatar__register {
        height: 150px;
    }

    .register__form div #errorAvatar, .register__form div .errorsAvatar {
        top: 135px;
    }
}

@media (min-width: 376px){
    .register__form div #errorAvatar, .register__form div .errorsAvatar {
        top: 150px;
    }
}

@media (min-width: 426px) {
    .register__form {
        width: 70%;
    }

    .register__form--tituloTel {
        margin-left: 12px;
    }

    .avatar__register>label img {
        display: block;
        width: 250px;
        height: 300px;
        margin: 10px auto;
    }

    .avatar__register {
        height: 200px;
    }

    .register__form div #errorAvatar, .register__form div .errorsAvatar {
        top: 190px;
    }
}

@media (min-width: 769px) {
    .register__form {
        width: 40%;
    }

    .register__form--tituloTel {
        margin-left: 14px;
    }

    .register__main {
        padding-top: 80px;
    }

    .register__form div #errorAvatar, .register__form div .errorsAvatar {
        top: 160px;
        font-size: 14px;
    }
}

@media (min-width: 1025px) {
    .register__form div #errorAvatar, .register__form div .errorsAvatar {
        top: 10px;
        font-size: 12px;
    }
}