<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs',{otherScript: include('./partials/scripts.ejs',{view:'Home'})})  %>
</head>
<%- include('./partials/header.ejs') %>
<body>
    <br>
    <div class="container preguntas-frecuentes-section">
        <div class="row">
                <div class="card shadow">
            <hr>
           <p>Condiciones del Servicio</p>
            <p>Por favor, lee detenidamente las siguientes condiciones del servicio antes de utilizar nuestro ecommerce:</p>
            <p>
                Aceptación de las condiciones: Al acceder y utilizar nuestro ecommerce, aceptas cumplir con estas condiciones del servicio. Si no estás de acuerdo con alguna parte de estas condiciones, te recomendamos que no utilices nuestros servicios.

                Uso autorizado: Nuestro ecommerce está diseñado para ser utilizado por personas mayores de edad. Si eres menor de edad, debes obtener el consentimiento y supervisión de tus padres o tutores legales antes de utilizar nuestros servicios.
                
                Propiedad intelectual: Todos los derechos de propiedad intelectual relacionados con nuestro ecommerce, incluyendo pero no limitado a marcas registradas, logotipos, nombres de dominio y contenido, son propiedad exclusiva nuestra. Queda prohibida cualquier reproducción, distribución o uso no autorizado de dichos elementos sin nuestro consentimiento previo por escrito.
                
                Registro de cuenta: Es posible que necesites registrarte para acceder a ciertas funciones o servicios de nuestro ecommerce. Al registrarte, aceptas proporcionar información precisa y actualizada. Eres responsable de mantener la confidencialidad de tus credenciales de acceso y de todas las actividades que ocurran en tu cuenta.
                
                Uso adecuado: Al utilizar nuestro ecommerce, te comprometes a hacerlo de manera legal, ética y responsable. No debes utilizar nuestros servicios para realizar actividades fraudulentas, difamatorias, obscenas, ilegales o que violen los derechos de terceros.
                
                Contenido generado por el usuario: Si tienes la opción de generar contenido en nuestro ecommerce, como comentarios, reseñas o publicaciones, te comprometes a que dicho contenido sea preciso, no infrinja los derechos de terceros y cumpla con las leyes y regulaciones aplicables. Nos reservamos el derecho de eliminar o modificar cualquier contenido generado por el usuario que consideremos inapropiado o en violación de estas condiciones del servicio.
                
                Modificaciones del servicio: Nos reservamos el derecho de modificar, suspender o interrumpir parte o la totalidad de nuestro ecommerce en cualquier momento y sin previo aviso. No seremos responsables ante ti ni ante terceros por cualquier modificación, suspensión o interrupción de nuestros servicios.
                
                Enlaces externos: Nuestro ecommerce puede contener enlaces a sitios web de terceros. Estos enlaces son proporcionados únicamente para tu conveniencia. No tenemos control sobre el contenido o las políticas de privacidad de estos sitios web de terceros y no asumimos ninguna responsabilidad por ellos.
                
                Limitación de responsabilidad: En la medida máxima permitida por la ley, no seremos responsables de ningún daño directo, indirecto, incidental, consecuente o especial que surja del uso o la incapacidad de utilizar nuestro ecommerce, incluso si hemos sido advertidos de la posibilidad de dichos daños.
                
                Ley aplicable: Estas condiciones del servicio se regirán e interpretarán de acuerdo con las leyes del [país o jurisdicción], sin tener en cuenta sus conflictos de principios legales.
                
                Si tienes alguna pregunta o inquietud sobre nuestras condiciones del servicio, por favor contáctanos utilizando la información proporcionada en la sección de contacto de nuestra Política de Privacidad.
                
                Fecha de entrada en vigor:16/05/2023
                
                Última actualización: 16/05/2023       </p>
                <p> ¡Gracias por elegirnos! </p>
            
        </div>
    </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>