<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs',{otherScript: include('./partials/scripts.ejs',{view:'Home'})})  %>
</head>
<%- include('./partials/header.ejs') %>
<body>
    <br>
    <div class="container preguntas-frecuentes-section">
        <div class="row">
                <div class="card shadow">
            <hr>
           <p>Bienvenido a Amadeus PC, tu tienda en línea de confianza para todo lo relacionado con insumos para PC.</p>
            <p> Nos especializamos en brindarte los mejores productos para que puedas construir, 
                actualizar o reparar tu computadora de manera fácil y conveniente.
            </p>
            <p>
            Desde nuestro inicio, nos hemos dedicado a ofrecer productos de alta calidad a precios competitivos, 
            respaldados por un servicio al cliente excepcional. 
            Nuestro equipo está compuesto por apasionados por la tecnología, expertos en insumos para PC y comprometidos 
            en brindarte una experiencia de compra inigualable.</p>

            <p>
            En Amadeus PC, encontrarás una amplia variedad de productos, desde componentes de hardware, 
            como procesadores, tarjetas de video, memorias RAM y discos duros, hasta periféricos, como monitores, 
            teclados, ratones y más. Trabajamos con marcas reconocidas en la industria 
            para asegurarnos de que obtengas productos de confianza y duraderos.</p>
            
           <p> Además, nos enorgullecemos de ofrecer un servicio de envío rápido y confiable, 
            así como un excelente servicio postventa. Nuestro equipo de soporte está siempre dispuesto a ayudarte 
            con cualquier consulta o duda que puedas tener.</p>
            
            <p> Amadeus PC es tu destino de confianza para todas tus necesidades de insumos para PC. 
            Nos esforzamos por brindarte una experiencia de compra excepcional y estamos comprometidos 
            en ayudarte a obtener los productos adecuados para tus necesidades.</p> <p> ¡Gracias por elegirnos! </p>
            
        </div>
    </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>