<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs',{otherScript: include('./partials/scripts.ejs',{view:'Home'})})  %>
</head>
<%- include('./partials/header.ejs') %>
<body>
    <br>
    <div class="container ">
        <div class="row preguntas-frecuentes-section">
                <div class="card shadow">
            <hr>
           <p class="section-title">Política de Privacidad</p>
            <p>Esta Política de Privacidad describe cómo recopilamos, utilizamos y compartimos la información personal que obtenemos a través de nuestro sitio web y servicios relacionados. Respetamos tu privacidad y nos comprometemos a proteger tus datos personales de acuerdo con las leyes y regulaciones aplicables sobre privacidad y protección de datos.
            </p>
            <p class=".faq-question">
                1.Información que recopilamos
                Recopilamos información personal de distintas formas cuando interactúas con nuestro sitio web y servicios. Esta información puede incluir:
                
                Información de contacto: Nombre, dirección de correo electrónico, número de teléfono u otra información de contacto que nos proporciones al registrarte, realizar una compra o comunicarte con nosotros.
                
                Información de pago: Detalles de pago, como información de tarjeta de crédito o débito, necesaria para procesar tus compras y transacciones.
                
                Información de cuenta: Nombre de usuario, contraseña y otra información relacionada con tu cuenta en nuestro sitio web.
                
                Información de navegación: Datos de navegación, como tu dirección IP, tipo de dispositivo, navegador web utilizado, páginas visitadas y acciones realizadas en nuestro sitio web.</p>

            <p class=".faq-question">
                2.Uso de la información
                Utilizamos la información recopilada para los siguientes fines:
                
                Proporcionar y mejorar nuestros servicios, incluyendo procesar tus pedidos, responder a tus consultas y brindarte soporte al cliente.
                
                Personalizar tu experiencia en nuestro sitio web y mostrar contenido relevante.
                
                Enviar comunicaciones de marketing y promociones, siempre y cuando hayas dado tu consentimiento para recibirlas.
                
                Cumplir con nuestras obligaciones legales y proteger nuestros derechos legítimos.</p>
            
           <p class=".faq-question"> 
            3.Compartir información
            Podemos compartir tu información personal con terceros en las siguientes circunstancias:
            
            Proveedores de servicios: Podemos compartir información con terceros que nos ayudan a proporcionar y mejorar nuestros servicios, como procesadores de pagos, servicios de envío y proveedores de alojamiento web.
            
            Cumplimiento legal: Podemos divulgar información cuando sea necesario cumplir con una obligación legal, hacer valer nuestros derechos legales o proteger la seguridad de nuestros usuarios.
            
            Consentimiento: Podemos compartir información con tu consentimiento expreso o según lo permita la ley.</p>
            
            <p class=".faq-question"> 
                4.Seguridad de la información
                Implementamos medidas de seguridad técnicas, administrativas y físicas para proteger tus datos personales contra acceso no autorizado, pérdida o uso indebido. Sin embargo, debes tener en cuenta que ninguna medida de seguridad en línea es completamente infalible.</p>
                
                <p class=".faq-question">
                    5.Tus derechos y elecciones
                    Tienes ciertos derechos y opciones con respecto a tu información personal. Puedes acceder, corregir o eliminar tus datos personales, así como ejercer tus derechos de oposición y limitación del procesamiento enviándonos una solicitud. También puedes optar por no recibir comunicaciones de marketing siguiendo las instrucciones de cancelación de suscripción incluidas en dichas comunicaciones.
                </p>
                
                <p class=".faq-question">
                    6.Cambios a esta Política de Privacidad
                    Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Cualquier cambio será efectivo cuando se publique la versión actualizada en nuestro sitio web. Te recomendamos que revises periódicamente esta política para estar al tanto de cualquier actualización.
                </p>
                <p class=".faq-question">
                    7.Contacto
                    Si tienes alguna pregunta o inquietud relacionada con nuestra Política de Privacidad o el tratamiento de tus datos personales, puedes ponerte en contacto con nosotros a través de los siguientes medios:
                    
                    Correo electrónico: [dirección de correo electrónico]
                    Teléfono: [número de teléfono]
                    Dirección postal: [dirección postal]
                    Nuestro equipo de atención al cliente estará encantado de ayudarte y brindarte la información que necesites.
                    
                    Recuerda que proteger tu privacidad y asegurar la confidencialidad de tus datos personales es fundamental para nosotros. Nos comprometemos a tratar tu información de manera segura y en cumplimiento de las leyes y regulaciones de privacidad aplicables.
                    
                    Fecha de entrada en vigor: 16/5/2023
                    
                    Última actualización: 16/5/2023
                </p>
                <p class="section-title"> ¡Gracias por elegirnos! </p>
            
        </div>
    </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>