<section class="main__section">
    <nav class="navbar">
        <input type="checkbox" id="navbar-toggle" />
        <label for="navbar-toggle" class="navbar-toggle-label">&#9776; </label>
        <nav class="navbar-menu">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
   
    </nav>
    
    <div class="main__section--search-box">
       <form action="/search" method="GET">
        <input type="text" name="keywords" placeholder="¿Qué estas buscando?">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i>
        </button></form> 
    </div>
</section>