<div class="carrete">
    <img src="/images/home/CORSAIR.jpg" alt="Imagen 1">
    <img src="/images/home/cougar.jpg" alt="Imagen 2">
    <img src="/images/home/intel.jpg" alt="Imagen 3">
    <img src="/images/home/logitech.jpg" alt="Imagen 4">
    <img src="/images/home/razer.jpg" alt="Imagen 5">
  </div>
  