<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body class="favorites d-flex flex-column justify-content-between h-100">
    <%- include('../partials/header') %>
    

      <main class="container main__favorites">
        <h1 class="text-center fw-bold">Tus Productos Favoritos</h1>
        <div id="cards-container" class="cardsContainerFavs">

          <div class="d-flex justify-content-center align-items-center" style="height:200px">
            <div class="spinner-border" role="status">
              <span class="visually-hidden m-auto">Loading...</span>
            </div>
          </div>

        </div>
      </main>

      <%- include('../partials/footer') %>


        <%- include('../partials/scripts') %>

       
          <script src="/js/favorites.js"></script>

  </body>

</html>