<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/header.ejs')  %> 

    <main class="form__main">
        <h1 class="form__main--titulo">amadeus pc</h1>
        <h4 class="form__main--subtitulo">mi cuenta</h4>
        <form action="" method="POST" class="form__main--registro">
            <div class="form__main--registro-email">
                <label for="loginemail"></label>
                <input name="loginemail" type="email" id="loginemail" placeholder="Correo electrónico" required>
            </div>
            <div class="form__main--registro-email">
                <label for="loginpass"></label>
                <input type="password" id="loginpass" placeholder="Contraseña" required>
            </div>
            <button class="form__button--siguiente"><a href="/users/login">entrar</a></button>
            <h3 class="passForget"><a href="">¿Olvidaste tu contraseña?</a></h3>
            <h2>¿No tenés cuenta? <a href="/users/register">Registrate</a></h2>
            <button class="form__button--google"><a href=""><img src="/images/logo-google.png" alt=""><p>Continuar con Google</p></a></button>
        </form>
    </main>

    <%- include('../partials/footer.ejs')  %>
</body>
</html>
