<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/header.ejs')  %> 
    <h1>PERFIL DE USUARIO</h1>
    <%- include('../partials/footer.ejs')  %>
</body>
</html>